section.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	padding: var(--body-padding);

	background-image: url('../../../assets/imgs/hero.jpg');
	background-color: #ababab;
	background-attachment: scroll;
	background-position: 0em 0em;
	background-repeat: no-repeat;
	background-size: cover;

	.text-box {
		.name {
			font-size: 8em;
			line-height: 0.8em;
		}
		.headliner {
			max-width: 40em;
		}
	}
}
@media only screen and (max-width: 700px) {
	section.hero {
		h1.name {
			font-size: 6em !important;
		}
	}
}
@media only screen and (max-width: 550px) {
	section.hero {
		h1.name {
			font-size: 5em !important;
		}
	}
}
@media only screen and (max-width: 475px) {
	section.hero {
		h1.name {
			font-size: 4em !important;
		}
	}
}
