section#about.about {
	display: flex;
	position: relative;
	height: 100vh;
	width: 100%;

	.text-box {
		position: relative;

		&:first-of-type {
			padding-top: 5em;
		}
		&:nth-of-type(2) {
			display: flex;
			align-items: flex-end;
			padding-bottom: 5em;
		}
	}
}
