nav.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: var(--color-1);

	position: fixed;
	z-index: 10;

	width: 100%;
	padding: 0.8em;

	user-select: none;

	// background: #f00;
	// box-shadow: 0px 0px 40px 5px #00ffaa;

	.link-box {
		display: inline-block;
		a.nav-links {
			margin: 0 0.5em;
		}
	}
}
