section#about.about {
	display: flex;
	position: relative;
	height: 100vh;
	width: 100%;

	.text-box {
		// position: relative;

		&:first-of-type {
			padding-top: 5em;
		}
		hr {
			width: 100%;
		}
		&:nth-of-type(2) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			padding-bottom: 5em;
		}
	}
}
