section#about {
	display: flex;
	position: relative;
	width: 100%;

	.text-box {
		// position: relative;

		// &:first-of-type {
		// 	padding-top: 5em;
		// }
		hr {
			width: 100%;
		}
		&:nth-of-type(2) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}
}

@media only screen and (max-width: 880px) {
	section#about {
		flex-direction: column;

		.text-box:nth-of-type(2) {
			padding-top: 3em;
		}
	}
}
