* {
	// variable
	--color-1: #000;
	--color-2: #707070;
	--color-2-dark: #424242;
	--color-3: #ffffff;
	--color-4: #00ffb7;

	--body-padding: 5em;

	// debugging
	// border: red solid 1px !important;

	// styles
	box-sizing: border-box !important;

	// styles for elements
	body {
		background-color: #000;
		color: var(--color-3);
	}
	a {
		text-decoration: none;
		color: var(--color-3);

		transition: all ease-in 200ms;
		&:hover {
			color: var(--color-4);
		}
	}
	h1 {
		font-size: 1em;
		color: var(--color-4);
	}
	h2 {
		font-size: 4em;
	}
	section {
		min-height: 100vh;
		padding: var(--body-padding) !important;
	}
	@media only screen and (max-width: 800px) {
		section {
			padding: calc(var(--body-padding) - 2em) !important;
		}
	}
	@media only screen and (max-width: 550px) {
		section {
			padding: calc(var(--body-padding) - 0em) calc(var(--body-padding) - 2em) !important;
			h2 {
				font-size: 3em;
			}
		}
	}
	@media only screen and (max-width: 475px) {
		section {
			padding: calc(var(--body-padding) - 3em) !important;
			h2 {
				font-size: 2em;
			}
		}
	}

	// styles for classes

	// buttons
	@mixin button {
		display: inline-block;

		padding: 0.3em 1em;
		border: 2px solid;

		transition: all ease-in 100ms;
	}
	@mixin button-color-2 {
		color: var(--color-3);
		border-color: var(--color-2);
		background-color: var(--color-2);

		&:hover {
			// color: var(--color-3);
			border-color: var(--color-2-dark);
			background-color: var(--color-2-dark);
		}
	}
	@mixin button-color-3 {
		color: var(--color-3);
		border-color: var(--color-3);
		background-color: var(--color-3);

		&:hover {
			color: var(--color-1);
			border-color: var(--color-3);
			background-color: var(--color-3);
		}
	}
	@mixin btn-outline {
		background-color: #00000000;
	}

	.button-outline-color-2 {
		@include button;
		@include button-color-2;
		@include btn-outline;
	}
	.button-outline-color-3 {
		@include button;
		@include button-color-3;
		@include btn-outline;
	}

	// bootstrap overwrites
	.container-fluid {
		padding: 0;
	}
	.row {
		padding: 0;
		margin: 0;
		width: 100%;

		> * {
			padding: 0;
		}
	}
	.col {
		padding: 0;
	}
}
