@import '~bootstrap/scss/bootstrap';

* {
	// variable
	--color-1: #000;
	--color-2: #707070;
	--color-2-dark: #424242;
	--color-3: #ffffff;
	--color-4: #00ffa2;

	--body-padding: 5em;

	// debugging
	// border: red solid 1px !important;

	// styles
	box-sizing: border-box;

	// styles for elements
	body {
		background-color: #000;
		color: var(--color-3);
	}
	a {
		text-decoration: none;
		color: var(--color-3);

		transition: all ease-in 200ms;
		&:hover {
			color: var(--color-2);
		}
	}
	h1 {
		font-size: 1em;
		color: var(--color-4);
	}
	h2 {
		font-size: 4em;
	}
	section {
		padding: var(--body-padding);
	}

	// styles for classes

	// buttons
	@mixin button {
		display: inline-block;

		padding: 0.3em 1em;
		border-width: 1px;
		border-style: solid;

		transition: all ease-in 100ms;
	}
	@mixin button-color-2 {
		color: var(--color-3);
		border-color: var(--color-2);
		background-color: var(--color-2);

		&:hover {
			color: var(--color-3);
			border-color: var(--color-2-dark);
			background-color: var(--color-2-dark);
		}
	}
	@mixin btn-outline {
		background-color: #00000000;
	}

	.button-outline-color-2 {
		@include button;
		@include button-color-2;
		@include btn-outline;
	}

	// bootstrap overwrites
	.container-fluid {
		padding: var(--body-padding);
	}
	.row {
		padding: 0;
	}
	.col {
		padding: 0;
	}
}
